/* Cambiar el tamaño de letra del span */
.small {
    font-size: 14px;
  }
  
  /* Estilo del borde del select en caso de error */
  .has-error .form-select {
    border-color: #ff0000; 
  }
  
  /* Estilo del mensaje de error debajo del select */
  .is-invalid + .invalid-feedback {
    color: #ff0000;
    display: block; 
  }
  